* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
}

.bodyss {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 10px;
}
.titulo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.barra ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.barra ul li {
  list-style: none;
}
.barra ul li a {
  text-decoration: none;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.main {
  flex: 1;
}

.maindboyd {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 100px;
}
.article1 {
  flex: 1;
  max-width: 685px;
  border: 2px solid;
}
.article2 {
  flex: 1;
  border: 2px solid;
}
footer {
  background-color: black;
  color: white;
}
img {
  width: 681px;
  height: 450px;
}
