*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  height: 100%;
}
.titulo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.barra ul li a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.active {
  background-color: blue;
}

.bodyss {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 10px;
}

.barra ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.barra ul li {
  list-style: none;
}

.barra ul li a {
  text-decoration: none;
  color: white;
}

.main {
  flex: 1;
  background-image: url("https://static.vecteezy.com/system/resources/previews/014/720/208/non_2x/paper-cut-art-background-texture-wave-paper-cut-map-line-of-topography-cartography-concept-background-geometric-layered-curve-line-black-white-design-free-vector.jpg");
  background-size: cover;
}

.maindboyd {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 100px;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

@media (max-width: 600px) {
  .barra ul {
    display: block;

  }
}
